:root {
  --background-primary: #ff669d;
  --background-hover: #ffe0e9;
  --background-yellow: #ffd666;
  --background-red: #ec3030;
  --background-red-hover: #af0f0f;
}

aside.app-sidebar {
  position: fixed;
  height: 100%;
  padding: 32px 24px;
  background: rgb(41, 41, 46);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

aside.app-sidebar img {
  width: 48px;
}

aside.app-sidebar footer a,
aside.app-sidebar footer button {
  width: 48px;
  height: 48px;

  border: 0;

  background: var(--background-red);
  border-radius: 16px;

  cursor: pointer;

  transition: background-color 0.2s;

  display: flex;
  justify-content: center;
  align-items: center;
}

aside.app-sidebar footer a:hover,
aside.app-sidebar footer button:hover {
  background: var(--background-red-hover);
}
